body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
li{
    list-style-type: none;
}
table{
    border-collapse: separate;
    border-spacing: 1em;
}
td{
    text-align: left;
    font-size: 24px;
    border-left: 3px solid blue;
}

table{
    margin: 0 auto;
}